$backgroundInput: #D9D9D9;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;




body {
   
            background-image: url("/img/bunda-azul.png");
            background-repeat: no-repeat;
            background-size: 7rem;
    .file-upload-photo-profile{
        position: relative;
        
    }
    .imgAdd {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4bd7ef;
        color: #fff;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
        text-align: center;
        line-height: 40px;
        right: 10px;
        margin-top: 35px;
        cursor: pointer;
        font-size: 30px;
    }
    .user-profile {

        .fa-envelope,
        .fa-sign-out-alt {
            font-size: 1.3rem;

        }

    }

    .img-user {
        // border: #000 1px solid;
        height: 8rem;
        width: 8rem;
    }

    .search-input {
        border-right: none;
        border-radius: 10rem 0rem 0rem 10rem !important;
    }

    .search-input-left {
        border-left: none;
        background-color: transparent;
        border-radius: 0rem 10rem 10rem 0rem !important;
    }

    font-family: 'Inter',
    sans-serif;

    .login-page {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & {
            @media (min-width:$xl) {
                width: 500px !important;
            }
        }


    }

    .logo-text {
        color: #1c1c1c;
        font-weight: 900;
        font-size: 2.5rem;
    }

    .logo {
        padding: 0 2rem;

    }

    .login {
        .eye-icon {
            position: absolute;
            top: .7rem;
            right: 1rem;
        }

        .form-outline {

            .form-notch {
                display: none;
            }
        }

        .invalid-feedback {
            margin-top: -1rem;
            position: relative;
        }

        input {
            background-color: $backgroundInput !important;
        }


    }

    main {

        .buttons-login {
            .enter-button {
                font-size: 1rem;
            }

            button {
                font-weight: 700;

            }

            position: relative;

            .fab {
                position: absolute;
                left: .5rem;

                margin: -4px 0rem;
                font-size: 1.5rem;
            }
        }

        .or {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                right: 1vw;
                width: 44%;
                top: 50%;
                height: 1px;
                color: #000;
                background: #ccc;

                @media (min-width:$xl) {
                    width: 42% !important;
                }

            }

            &::after {
                position: absolute;
                content: '';
                left: 1vw;
                width: 44%;
                top: 50%;
                height: 1px;
                color: #000;
                background: #ccc;

                @media (min-width:$xl) {
                    width: 42% !important;
                }
            }

        }

        .container {
            .input-group {

                border-radius: 10rem !important;
            }

            .card {
                display: flex;
                align-items: center;
                margin: 0 auto;
                justify-content: center;
                margin-bottom: 1rem;


                .card-text {
                    p {
                        font-weight: 700;
                    }
                }

                .menu {
                    z-index: 10000;
                    position: fixed;
                }
            }
        }

    }
}

.home-page {

    img {
        border-radius: 1.4rem;
    }

    .card {
        &:last-child {
            padding-bottom: 3rem;
        }

        border: none;

        .card-body {
            padding: 0 .6rem;
        }

        .card-title {
            font-size: 16px;
            font-weight: 700;
            margin: 0;
            line-height: 1.2;

        }

        .card-text {
            margin: 0;
            padding: 0;
            line-height: 1.2;
        }
    }

}

.change-password {
    position: relative;


    .eye-icon {
        right: 2rem !important;
    }
}

.tab {
    padding: .5rem 0;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc;
    z-index: 100;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    background: #fff;
    width: 100%;
    left: 0;
}