.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

body {
  background-image: url("/img/bunda-azul.png");
  background-repeat: no-repeat;
  background-size: 7rem;
  font-family: "Inter", sans-serif;
}
body .file-upload-photo-profile {
  position: relative;
}
body .imgAdd {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4bd7ef;
  color: #fff;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 40px;
  right: 10px;
  margin-top: 35px;
  cursor: pointer;
  font-size: 30px;
}
body .user-profile .fa-envelope,
body .user-profile .fa-sign-out-alt {
  font-size: 1.3rem;
}
body .img-user {
  height: 9rem;
  width: 9rem;
}
body .search-input {
  border-right: none;
  border-radius: 10rem 0rem 0rem 10rem !important;
}
body .search-input-left {
  border-left: none;
  background-color: transparent;
  border-radius: 0rem 10rem 10rem 0rem !important;
}
body .login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1200px) {
  body .login-page {
    width: 500px !important;
  }
}
body .logo-text {
  color: #1c1c1c;
  font-weight: 900;
  font-size: 2.5rem;
}
body .logo {
  padding: 0 2rem;
}
body .login .eye-icon {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
}
body .login .form-outline .form-notch {
  display: none;
}
body .login .invalid-feedback {
  margin-top: -1rem;
  position: relative;
}
body .login input {
  background-color: #D9D9D9 !important;
}
body main .buttons-login {
  position: relative;
}
body main .buttons-login .enter-button {
  font-size: 1rem;
}
body main .buttons-login button {
  font-weight: 700;
}
body main .buttons-login .fab {
  position: absolute;
  left: 0.5rem;
  margin: -4px 0rem;
  font-size: 1.5rem;
}
body main .or {
  position: relative;
}
body main .or::before {
  position: absolute;
  content: "";
  right: 1vw;
  width: 44%;
  top: 50%;
  height: 1px;
  color: #000;
  background: #ccc;
}
@media (min-width: 1200px) {
  body main .or::before {
    width: 42% !important;
  }
}
body main .or::after {
  position: absolute;
  content: "";
  left: 1vw;
  width: 44%;
  top: 50%;
  height: 1px;
  color: #000;
  background: #ccc;
}
@media (min-width: 1200px) {
  body main .or::after {
    width: 42% !important;
  }
}
body main .container .input-group {
  border-radius: 10rem !important;
}
body main .container .card {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 1rem;
}
body main .container .card .card-text p {
  font-weight: 700;
}
body main .container .card .menu {
  z-index: 10000;
  position: fixed;
}

.home-page img {
  border-radius: 1.4rem;
}
.home-page .card {
  border: none;
}
.home-page .card:last-child {
  padding-bottom: 3rem;
}
.home-page .card .card-body {
  padding: 0 0.6rem;
}
.home-page .card .card-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}
.home-page .card .card-text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.change-password {
  position: relative;
}
.change-password .eye-icon {
  right: 2rem !important;
}

.tab {
  padding: 0.5rem 0;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #ccc;
  z-index: 100;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  background: #fff;
  width: 100%;
  left: 0;
}/*# sourceMappingURL=style.css.map */